<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245103896188-8fm4go99dkv25bdecpogqbvhfs4cqn3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245103896188-8fm4go99dkv25bdecpogqbvhfs4cqn3t</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Bme1dXMlUgY0ymprhX9ZT98uD6L8YZo</string>
	<key>GCM_SENDER_ID</key>
	<string>245103896188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dmitry.AuthorizationApp</string>
	<key>PROJECT_ID</key>
	<string>auth-91b43</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-91b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245103896188:ios:ac504532da6d668cbbcbf9</string>
	<key>DATABASE_URL</key>
	<string>https://auth-91b43-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>